:root{
    --main-color: #ca0606;
    --hover-backgournd-color:#ff00002a;
}
.video-container{
    position: relative;
    height: 240px;
    top: 0px;
}
.detail-video{
    position: absolute;
    width: 440px;
    height: 247.5px;
    margin-left: 20px;
    margin-top: 70px;
    margin-right: 20px;
    top: 0%;
    left: 48%;
    transform: translate(-50%,-50%);
}
@media (min-width: 768px) {
    .video-container{
        height: 370px;
    }
    .detail-video{
        width: 720px;
        height: 410px;
        margin-top: 140px;
    }
}
@media (min-width: 1023px) {
    .video-container{
        height: 450px;
    }
    .detail-video{
        width: 870px;
        height: 490px;
        margin-top: 190px;
    }
}
@media (min-width: 1280px) {
    .video-container{
        height: 570px;
    }
    .detail-video{
        width: 1060px;
        height: 600px;
        margin-top: 240px;
    }
}

/* trailer scc start*/
.trailer-img{
    position: relative;
    top: 0px;
    left: 0;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.trailer-img::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55); 
    z-index: 2; 
}
.trailer-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.my-select__control {
    border: 3px solid gray !important;
    width: 180px !important;
    outline: 1px solid var(--main-color) !important;
}

.my-select__option--is-selected {
background-color: var(--main-color) !important;
color: black !important;
}

.my-select__option--is-focused {
background-color: #e8f5e9 !important;
border: 1px solid var(--main-color);
}
.my-select__option {
    color: black !important; /* Màu chữ mặc định */
}
  
/* movie description nav */
.detail-nav-bg{
    display: flex;
    width: 100%;
    height: 60px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,rgb(28,25,23), rgb(43, 43, 43), rgb(28,25,23));
}
.detail-movie-des-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: transparent;
    cursor: pointer;
    padding: 18px;
    .detail-movie-des-line{
        position: absolute;
        top: 0;
        width: 100%;
        height: 3px;
        background-color: var(--main-color);
        transform-origin: left;
        transform: scaleX(0);
        transition: all 1s ease;
    }
}

.detail-movie-des-nav.toggle {
    color: var(--main-color);
    animation: detail-mv-nav 0.4s ease-out forwards;
    .detail-movie-des-line{
        transform: scaleX(1);
    }
}

@keyframes detail-mv-nav {
    0% {
        background-color: transparent;
    }
    100% {
        background-image: linear-gradient(var(--hover-backgournd-color),rgb(41, 37, 36,0));
    }
}
.detail-movie-des{
    transform-origin: top;
    animation: detail-mv-des 0.7s ease-in-out forwards;
}
@keyframes detail-mv-des {
    0%{
        transform: translateY(70%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* movie description: rate & review */
.form-control, .text-control{
    border: 1px solid rgb(35, 35, 35);
    width: 100%;
    height: 50px;
    outline: none; 
    padding-left: 20px;
    border-radius: 5px;
    background-color: rgb(35, 35, 35);
}
.text-control{
    height: 200px;
    padding-top: 10px;
}

/* css for detail-movie table*/
.table-wrapper {
    overflow-x: auto;
    width: 100%;
}
.detail-mv-table{
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    text-align: left;
    min-width: 700px;
}
.detail-mv-table thead{
    position: relative;
    top: 10px;
}
.detail-nav-bg th, td{
    padding-left: 20px;
}
/* Tùy chỉnh thanh cuộn cho WebKit (Chrome, Safari) */
.table-wrapper::-webkit-scrollbar {
    height: 10px; /* Chiều cao của thanh cuộn ngang */
    border-radius: 10px; /* Bo tròn các góc của thanh cuộn */
}

/* Đường dẫn của thanh cuộn */
.table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của đường dẫn thanh cuộn */
    border-radius: 10px; /* Bo tròn đường dẫn */
}
/* Thumb của thanh cuộn (phần di chuyển) */
.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #a8a6a6; /* Màu của thumb */
    border-radius: 10px; /* Bo tròn thumb */
}
/* css for cast crew */
.detail-nav-bg-2{
    display: flex;
    margin-top: 30px;
    padding-left: 40px;
    width: 100%;
    height: 60px;
    gap: 20px;
    justify-content: start;
    align-items: center;
    background-color: rgb(43, 43, 43);
    /* background-image: url(../image/movie/recommended/01.webp); */
}
.detail-movie-des-card{
    display: flex;
    width: 100%;
    height: 150px;
    background: rgb(43, 43, 43);
    .detail-movie-des-img{
        flex: 1;
        height: 150px;
        aspect-ratio: 6/5;
    }
    .detail-movie-des-text{
        flex: 5;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 10px;
    }
}
@media (min-width: 640px) {
    .detail-movie-des-img{
        aspect-ratio: 5/7 !important;
    }
}